/* Style the tab */
/*.tab {*/
/*    overflow: auto;*/
/*    white-space: nowrap;*/
/*    border: 1px solid #ccc;*/
/*    display: flex;*/
/*    height: 5em;*/
/*    background-color: floralwhite;*/
/*}*/

/*!* Style the buttons inside the tab *!*/
/*.tab button {*/
/*    float: left;*/
/*    border: none;*/
/*    color: black;*/
/*    background-color: floralwhite;*/
/*    outline: none;*/
/*    cursor: pointer;*/
/*    padding: 14px;*/
/*    transition: 0.3s;*/
/*    font-size: 1em;*/
/*    margin: 0;*/
/*    transition-duration: 0.3s;*/
/*    border-right: 1px dashed #ccc;*/
/*    border-radius: 60%;*/


/*}*/

/*!* Create an active/current tab link class *!*/
/*.tab button.active {*/
/*    color: darkblue;*/
/*    font-size: 1.2em;*/
/*    border-right: 1px dashed darkblue;*/
/*}*/

/*!* Style the tab content *!*/
/*.tabcontent {*/
/*    display: none;*/
/*    padding: 6px 12px;*/
/*    border: 1px solid #ccc;*/
/*    border-top: none;*/
/*    height: 25em;*/
/*    transition-duration: 1s;*/
/*}*/

/*.cbutton {*/
/*    position: relative;*/
/*    overflow: visible;*/
/*    -webkit-transition: color 0.7s;*/
/*    transition: color 0.7s;*/
/*    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
/*}*/

/*.cbutton.cbutton--click,*/
/*.cbutton:focus {*/
/*    outline: none;*/
/*}*/

/*.cbutton::after {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    margin: -35px 0 0 -35px;*/
/*    width: 70px;*/
/*    height: 70px;*/
/*    border-radius: 50%;*/
/*    content: '';*/
/*    opacity: 0;*/
/*    pointer-events: none;*/
/*}*/


/*!* Marin *!*/
/*.cbutton--effect-marin::after {*/
/*    box-shadow: inset 0 0 0 3px rgba(111,148,182,0.05);*/
/*}*/

/*.cbutton--effect-marin.cbutton--click::after {*/
/*    -webkit-animation: anim-effect-marin 0.5s ease-out forwards;*/
/*    animation: anim-effect-marin 0.5s ease-out forwards;*/
/*}*/

/*@-webkit-keyframes anim-effect-marin {*/
/*    0% {*/
/*        opacity: 1;*/
/*    }*/
/*    100% {*/
/*        box-shadow: inset 0 0 0 3px rgba(111,148,182,0.8);*/
/*        opacity: 0;*/
/*        -webkit-transform: scale3d(0.75, 0.75, 1);*/
/*        transform: scale3d(0.75, 0.75, 1);*/
/*    }*/
/*}*/

/*@keyframes anim-effect-marin {*/
/*    0% {*/
/*        opacity: 1;*/
/*    }*/
/*    100% {*/
/*        box-shadow: inset 0 0 0 3px rgba(111,148,182,0.8);*/
/*        opacity: 0;*/
/*        -webkit-transform: scale3d(0.75, 0.75, 1);*/
/*        transform: scale3d(0.75, 0.75, 1);*/
/*    }*/
/*}*/


/*!* Milan *!*/
/*.cbutton--effect-milan::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    margin: -35px 0 0 -35px;*/
/*    width: 70px;*/
/*    height: 70px;*/
/*    border-radius: 50%;*/
/*    opacity: 0;*/
/*    pointer-events: none;*/
/*}*/

/*.cbutton--effect-milan::after,*/
/*.cbutton--effect-milan::before {*/
/*    !*border: 4px solid rgba(111,148,182,0.1);*!*/
/*    border: 3px solid rgba(20, 20, 255, 0.2);*/
/*    !*border-top: 5px solid rgba(255,255,0,0.2);*!*/
/*    !*border-right: 3px solid rgba(0,255,255,0.4);*!*/
/*    !*border-bottom: 5px solid rgba(255,0,0,0.2);*!*/
/*    !*border-left: 3px solid rgba(0,0,255,0.3);*!*/
/*}*/

/*.cbutton--effect-milan:focus::after {*/
/*    -webkit-animation-name: anim-effect-milan-3, anim-effect-milan-1;*/
/*    animation-name: anim-effect-milan-3, anim-effect-milan-1;*/
/*    -webkit-animation-duration: 5s, 2s;*/
/*    animation-duration: 5s, 2s;*/
/*    -webkit-animation-iteration-count: 1, infinite;*/
/*    animation-iteration-count: 1, infinite;*/
/*    -webkit-animation-timing-function: ease, linear;*/
/*    animation-timing-function: ease, linear;*/
/*    -webkit-animation-fill-mode: forwards;*/
/*    animation-fill-mode: forwards;*/
/*}*/

/*.cbutton--effect-milan:focus::before {*/
/*    -webkit-animation-name: anim-effect-milan-3, anim-effect-milan-2;*/
/*    animation-name: anim-effect-milan-3, anim-effect-milan-2;*/
/*    -webkit-animation-duration: 5s, 2s;*/
/*    animation-duration: 5s, 2s;*/
/*    -webkit-animation-iteration-count: 1, infinite;*/
/*    animation-iteration-count: 1, infinite;*/
/*    -webkit-animation-timing-function: ease, linear;*/
/*    animation-timing-function: ease, linear;*/
/*    -webkit-animation-fill-mode: forwards;*/
/*    animation-fill-mode: forwards;*/
/*}*/

/*@-webkit-keyframes anim-effect-milan-1 {*/
/*    0% {*/
/*        -webkit-transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);*/
/*        transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);*/
/*    }*/
/*    100% {*/
/*        -webkit-transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);*/
/*        transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);*/
/*    }*/
/*}*/

/*@keyframes anim-effect-milan-1 {*/
/*    0% {*/
/*        -webkit-transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);*/
/*        transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);*/
/*    }*/
/*    100% {*/
/*        -webkit-transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);*/
/*        transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);*/
/*    }*/
/*}*/

/*@-webkit-keyframes anim-effect-milan-2 {*/
/*    0% {*/
/*        -webkit-transform: perspective(1000px) rotate3d(-1, -1, -1, 0deg);*/
/*        transform: perspective(1000px) rotate3d(-1, -1, -1, 0deg);*/
/*    }*/
/*    100% {*/
/*        -webkit-transform: perspective(1000px) rotate3d(-1, -1, -1, 360deg);*/
/*        transform: perspective(1000px) rotate3d(-1, -1, -1, 360deg);*/
/*    }*/
/*}*/

/*@keyframes anim-effect-milan-2 {*/
/*    0% {*/
/*        -webkit-transform: perspective(1000px) rotate3d(1, -1, 1, 0deg);*/
/*        transform: perspective(1000px) rotate3d(1, -1, 1, 0deg);*/
/*    }*/
/*    100% {*/
/*        -webkit-transform: perspective(1000px) rotate3d(1, -1, 1, 360deg);*/
/*        transform: perspective(1000px) rotate3d(1, -1, 1, 360deg);*/
/*    }*/
/*}*/

/*@-webkit-keyframes anim-effect-milan-3 {*/
/*    0%, 100% {*/
/*        opacity: 0;*/
/*    }*/
/*    25%, 75% {*/
/*        opacity: 1;*/
/*    }*/
/*}*/

/*@keyframes anim-effect-milan-3 {*/
/*    0%, 100% {*/
/*        opacity: 0;*/
/*    }*/
/*    25%, 75% {*/
/*        opacity: 1;*/
/*    }*/
/*}*/
#aboutUs .modal, #leaderBoard .modal, #loginModal .modal, #howTo .modal {
    padding-left: 0 !important;
}
#leaderBoard .modal-dialog{
    top: 10%;
    /*margin: 100px 0px;*/
}
#aboutUs .modal-content, #leaderBoard .modal-content, #loginModal .modal-content, #howTo .modal-content {
    background-color: #eeeeee;
    font-family: Play;
    border: 7px solid #062768;
    border-radius: 30px;
}
#aboutUs h4 {
    color: #df575f;
}
#t-rescue {
    color: #062768 !important;
}
#aboutUs .modal-content {
    /*text-align: justify;*/
    line-height: 140%;
}
.modal-title {
    color: #062768 !important;
    font-weight:bold;
}
/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.modal-dialog-scrollable {
    margin: 10px;
}
#closeBtn {
    font-size: 32px;
    /*background-color: #333333;*/
}
.bio-pic {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 11px;
    margin-top: 6px;
}