html, body {
    overflow: hidden ;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("./images/ocean_2.png");
    background-size: cover;

}
canvas {
    width:100%;
    height:100%;
    border:1px solid #d3d3d3;
}
/*#start {*/
/*    display: none;*/
/*}*/
#restart a,#start  a{
    font-size: 1em;
    border-radius: 15px;
    box-shadow: -1px 2px;
}
#start h1 {
    font-size: 1em;
}

#start h1,#start  h2,#start  a, #restart h1,#restart  h2,#restart  a {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.1em;
    margin: 20px;
    padding: 5px 10px;
    /*border-left: 3px solid black;*/
    /*border-right: 3px solid black;*/
    border-bottom: 3px solid #062768;
    border-top: 3px solid #062768;
    color: #062768;
    outline: 10px solid transparent !important; 
}

.containers {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#restart{
    display: none;
    background-color: rgba(255,255,255,0.3);
}
#restart button,#restart a,#restart h1,#restart h2,#restart h3{
    background-color: rgba(255,255,255,0.6);
}
#restart h1,#restart h2,#restart h3{
    border-left: 3px solid black;
    border-right: 3px solid black;
}

#start, #restart {
    z-index: 10;
}
